[submodule "output"]
	path = output
	url = https://github.com/clazaro97chosen/clazaro97chosen.github.io.git
[submodule "clazaro97chosen.github.io"]
	path = clazaro97chosen.github.io
	url = https://github.com/clazaro97chosen/clazaro97chosen.github.io.git
[submodule "themes/pelican-aegis-jupyter-theme"]
	path = themes/pelican-aegis-jupyter-theme
	url = https://github.com/clazaro97chosen/pelican-aegis-jupyter-theme.git
[submodule "pelican-aegis-jupyter-theme"]
	path = pelican-aegis-jupyter-theme
	url = https://github.com/clazaro97chosen/pelican-aegis-jupyter-theme.git
